@media (min-width: 1200px) {
  .container {
    max-width: 75% !important;
  }
}

.nav-item {
  a {
    color: black !important;
  }
}

.navbar-links {
  display: flex;
  background-color: white;
  padding: 0.25rem 1rem;

  a {
    color: black !important;
  }
}

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';